.switch {
    display: inline-block;

    input {
      display: none;

      &:checked + .label {
        border-color: var(--text-color);
      }

      &:checked + label::after {
        translate: 30px 0;
        background: var(--text-color);
      }

      &:disabled + label {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    label {
      display: block;
      width: 60px;
      height: 30px;
      padding: 3px;
      border-radius: 15px;
      border: 2px solid var(--text-color);
      cursor: pointer;
      transition: 0.3s;

      &::after {
        content: "";
        display: inherit;
        width: 20px;
        height: 20px;
        border-radius: 12px;
        background: var(--text-color);
        transition: 0.3s;
      }
    }
  }
